/*全局公共样式*/

input,
button,
select,
textarea {
	outline: none;
}

* {
	padding: 0px;
	margin: 0px;
}

form,
select,
input,
img {
	border: 0;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body,
html {
	height: auto;
	margin: 0 auto;
	min-width: 20rem;
	max-width: 35rem;
}


/*文中局部公共样式*/

.i_strong {
	font-weight: bold;
}

.bag_zq span {
	color: #6C6B6B;
}


/*banner的背景*/

#content {
	width: auto;
	height: 100%;
	margin: 0 auto;
	padding: 1rem;
}

#content .banner_bg {
	background: url(../img/banner_top.jpg);
	height: 14rem;
	background-size: 100% 100%;
	width: 100%;
}


/*标题样式*/

.title_ti {
	margin: 60px 30px;
	color: rgb(255, 255, 255);
	background-color: rgb(252, 180, 43);
}

.title_ti span {
	color: #FFFFFF;
	font-size: 0.92rem;
}

.title_left {
	margin-top: -20px;
	margin-left: -4px;
	width: 16px;
	height: 50px;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: rgb(252, 180, 43);
	display: inline-block;
	background-color: rgb(254, 254, 254);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.title_mid {
	margin-top: -30px;
	margin-bottom: -30px;
	color: inherit;
	text-align: center;
	line-height: 2.1;
}

.title_right {
	margin-top: 2px;
	margin-right: -2px;
	width: 16px;
	height: 50px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(252, 180, 43);
	display: inline-block;
	float: right;
	background-color: rgb(254, 254, 254);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}


/*图片样式*/

.img_bg {
	width: 100%;
	height: 13rem;
	margin-bottom: 0.5rem;
}


/*商品文字信息介绍*/

.text_intro {
	color: #6C6B6B;
	margin: 10px 0px;
	padding: 15px 20px 15px 45px;
	font-size: 14px;
	line-height: 22.39px;
	outline: 0px;
	border: 0px currentcolor;
	vertical-align: baseline;
	background: rgb(241, 241, 241) url(../img/quot.jpg) no-repeat 1% 5px;
}


/*品鉴记录与规格*/

.record_zq {
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid rgb(252, 180, 43);
	line-height: 10px;
	margin: 6rem 0 2rem 0;
}

.record_zq_top_bg {
	margin-top: -8px;
	margin-left: 140px;
	width: 50%;
	height: 8px;
	background-color: rgb(254, 254, 254);
}

.record_zq_top_bg span {
	border-radius: 100%;
	width: 8px;
	height: 8px;
	display: inline-block;
	background-color: rgb(252, 180, 43);
}

.record_zq_con {
	margin: 15px;
	color: rgb(62, 62, 62);
	line-height: 2em;
	font-size: 14px;
}

.record_zq_con span {
	color: #6C6B6B
}

.record_zq_bottom_bg {
	margin-bottom: -4px;
	margin-left: 25px;
	width: 65%;
	height: 10px;
	text-align: right;
	background-color: rgb(254, 254, 254);
}

.record_zq_bottom_bg span {
	margin-bottom: 1px;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	display: inline-block;
	background-color: rgb(252, 180, 43);
}


/*产品支持 产品包装 产品契机*/

.bag_zq {
	margin: 2rem 0rem;
	font-size: 14px;
	padding: 15px;
	border: 2px solid rgb(240, 240, 240);
	color: rgb(62, 62, 62);
	line-height: 24px;
	box-shadow: rgb(170, 170, 170) 0px 0px 3px;
}

.bag_zq span {
	line-height: 1.5rem;
}


/*品牌介绍*/

.intro_zq {
	font-size: 14px;
	color: #6C6B6B;
	margin: 2rem 0rem 5rem 0rem;
	padding: 2rem 1rem;
	border-left: 3px solid rgb(252, 180, 43);
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow: rgb(165, 165, 165) 5px 5px 2px 0px;
	background-color: rgb(250, 250, 250);
}

.intro_zq span {
	line-height: 1.5rem;
}


/*按钮*/

footer {
	width: 100%;
	height: 5rem;
	background: pink;
	position: fixed;
	bottom: 0;
	left: 0;
}